/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 5px;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100vw; /* Ensure the navbar spans the full viewport width */
    box-sizing: border-box;
    background-color: white; /* Optional: Set a background color */
}

.logo-container img {
    width: 200px;
    height: auto;
}

.buttons {
    display: flex;
    gap: 20px;
}

.Login {
    font-size: 14px;
    padding: 8px 16px;
    background: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    transition: 0.4s ease-in;
    cursor: pointer;
    border-radius: 4px;
}

.Login:hover {
    color: white;
    background-color: #007bff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        flex: 1;
    }

    .buttons {
        flex: 1;
        justify-content: flex-end;
    }

    .buttons a {
        width: auto;
    }

    .Login {
        font-size: 12px;
        padding: 8px 12px;
    }
}

@media screen and (max-width: 480px) {
    .logo-container img {
        width: 150px;
    }

    .Login {
        font-size: 12px;
        padding: 8px 10px;
    }

    .buttons {
        gap: 10px;
    }
    nav {
        width: 104vw;
    }
}
